@model IEnumerable<MyCritics.Models.Filme>
<body>

    <div class="cabecalho" id="cab_login_registrar">
        <div class="logoNome">
            <a href="">
                <img src="~/images/abacate-removebg-preview.png" alt="some text" width=50 height=51>
            </a>
            <a class="cabecalho__botao-nav" asp-action="Inicial" asp-controller="Home">MY CRITICS</a>
        </div>
        <a class="cabecalho__botao-nav" asp-controller="Filmes" asp-action="Create">
            <p class="p"> Cadastrar Filme </p>
        </a>
        <div class="">
            <p></p>
            <a asp-controller="home" asp-action="Perfil">
                <p class="Titulo"> @TempData.Peek("Nome") </p>
            </a>

            <p></p>
        </div>
    </div>
    <div class="Principal">
        <p class="formulario__titulo">FILMES CADASTRADOS</p>
        
        <div class="">
            <hr />
            <table class="table">
                <thead>
                    <tr class="indicacoes__tr">
                        <th class="indicacoes__td">
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="indicacoes__td">
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td class="indicacoes__td__btn">
                                <a asp-controller="Avaliacaos" asp-action="Create" asp-route-id="@item.ID">Avaliar</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>