@model IEnumerable<MyCritics.Models.Filme>
<body>

    <div class="cabecalho" id="cab_login_registrar">
        <div class="logoNome">
            <a href="">
                <img src="~/images/abacate-removebg-preview.png" alt="some text" width=50 height=51>
            </a>
            <a class="cabecalho__botao-nav" asp-action="Inicial" asp-controller="Home">MY CRITICS</a>
        </div>
        <a class="cabecalho__botao-nav" asp-controller="home" asp-action="Indicacoes">
            <p class="p"> Lista de Filmes </p>
        </a>
        <div class="Perfil">
            <p></p>
            <a asp-controller="home" asp-action="Perfil">
                <img src="~/images/mulher-perfil.jpg" alt="some text" width=51 height=52 class="Pesquisa">
                <p class="Titulo"> @TempData.Peek("Nome") </p>
            </a>

            <p></p>
        </div>
    </div>
    <div class="Principal">
        <p>FILMES CADASTRADOS</p>
        <hr />
        <div class="Lista">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td>
                                <a asp-controller="Avaliacaos" asp-action="Create" asp-route-id="@item.ID">Avaliar</a> |
                        
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>