@model IEnumerable<MyCritics.Models.Avaliacao>
<body>
    <div class="cabecalho" id="cab_login_registrar">
        <div class="logoNome">
            <a href="">
                <img src="~/images/abacate-removebg-preview.png" alt="some text" width=50 height=51>
            </a>
            <a class="cabecalho__botao-nav" asp-action="Inicial" asp-controller="Home">MY CRITICS</a>
        </div>
        <a class="cabecalho__botao-nav" asp-controller="home" asp-action="Indicacoes">
            <p class="p"> Lista de Filmes </p>
        </a>
        <a class="cabecalho__botao-nav" asp-controller="Filmes" asp-action="Create">
            <p class="p"> Cadastrar Filme </p>
        </a>
        <div class="">
            <p></p>
            <a asp-controller="home" asp-action="Perfil">
                <img src="~/images/mulher-perfil.jpg" alt="some text" width=51 height=52 class="Pesquisa">
                <p class="Titulo"> @TempData.Peek("Nome") </p>
            </a>

            <p></p>
        </div>
    </div>
    <div class="Principal">
        <div class="capa">
            <img src="~/images/mulher-perfil.jpg" alt="some text" width=100% height=364>
        </div>
        <div class="conteudo">
            <div class="perfil-nome">
                <div class="dot">
                    <img src="~/images/mulher-perfil.jpg" alt="some text" width=158 height=158 class="foto">
                </div>
                <p>@TempData.Peek("Nome") @TempData.Peek("Sobrenome") </p>
            </div>
            <div class="perfil-nome">
                <p>Minhas Avaliações</p>
            </div>
            <div class="assistidos back-filmes-assistidos">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NotaFilme)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NotaDiretor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NotaFigurino)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NotaRoteiro)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NotaSonoplastia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Comentario)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Filme.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotaFilme)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotaDiretor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotaFigurino)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotaRoteiro)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotaSonoplastia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comentario)
                                </td>
                                <td>
                                    <a asp-controller="Avaliacaos" asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                                    <a asp-controller="Avaliacaos" asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>