@model IEnumerable<MyCritics.Models.Filme>

@{
    ViewData["Title"] = "Index";
}

<header class="cabecalho">
    <img src="~/images/abacate-removebg-preview.png" alt="some text" width=50 height=51>
    <h1 class="cabecalho__titulo">ADM - INDEX</h1>
    <nav class="cabecalho__navegacao">
        <ul class="cabecalho__navegacao-botoes">
            <a class="cabecalho__botao-nav" asp-action="Login" asp-controller="Home">MY CRITICS</a>
        </ul>

    </nav>
</header>

<p>
    <a class="cabecalho__botao-nav" asp-action="Create">Adicionar novos Filmes</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
