@model MyCritics.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}
<header class="cabecalho">
    <div class="logoNome">
        <a href="">
            <img src="~/images/abacate-removebg-preview.png" alt="some text" width=50 height=51>
        </a>

        <a class="cabecalho__botao-nav" asp-action="Login" asp-controller="Home">MY CRITICS</a>
    </div>
    <h1 class="cabecalho__titulo">ADMINISTRADOR</h1>
    <nav class="cabecalho__navegacao">
        <ul class="cabecalho__navegacao-botoes">
            <a class="cabecalho__botao-nav" asp-action="Index" asp-controller="Usuarios">Retornar a lista</a>
        </ul>

    </nav>
</header>
<h2 class="formulario__titulo">Exclusão - Está certo que deseja deletar o usuário?</h2>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.file)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.file)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> 
    </form>
</div>
