@model IEnumerable<MyCritics.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<header class="cabecalho">
    <img src="~/images/abacate-removebg-preview.png" alt="some text" width=50 height=51>
    <h1 class="cabecalho__titulo">ADM - INDEX</h1>
    <nav class="cabecalho__navegacao">
        <ul class="cabecalho__navegacao-botoes">
            <a class="cabecalho__botao-nav" asp-action="Login" asp-controller="Home">MY CRITICS</a>
        </ul>

    </nav>
</header>



<table class="table">
    <thead>
        <tr>
            <th class="control-label">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th class="control-label">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="control-label">
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th class="control-label">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="control-label">
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th class="control-label">
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th class="control-label">
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="control-label"> 
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td class="control-label">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="control-label">
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td class="control-label"> 
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="control-label">
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td class="control-label">
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td class="control-label">
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="cabecalho__botao-nav" asp-action="Create">Criar Novos Usuários</a>
</p>